@(userForm : Form[User])
@import helper._
@import views.html.Partials._booksFormFields

@layout("Login", false, ""){


    <link rel="stylesheet" href="@routes.Assets.versioned("css/register.css")">


    <div id="login-box">
        <div class="left">
            <h1>Login</h1>
            @helper.form(action = routes.UsersController.login()) {


                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />


                <input type="submit" name="signup_submit" value="Login" />
            }
        </div>

        <div class="right">
            <span class="loginwith">Sign in with<br />social network</span>

            <button class="social-signin facebook">Log in with facebook</button>
            <button class="social-signin twitter">Log in with Twitter</button>
            <button class="social-signin google">Log in with Google+</button>
        </div>
        <div class="or">OR</div>
    </div>


}